
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -box-sizing: border-box;

}
body {
     font-family: Verdana, sans-serif;
     color: #666;
}
 
h1 {
     font-size: 55px;
}
 
h2 {
     color: #f07c17;
     font-weight: bold;
     font-size: 21px;
     margin -2px; 25px;
}
 
li {
     line-height: 2.5em;
}
 
.container {
     margin-top: 20px;
}
 
.image {
     margin: 0px; 25px; 374px; 400px;
}
 
.features {
    border: solid 1px #ccc;
    padding: 35px; 20px; 20px;
    margin: 25px; 5px; 374px;
}
 
.description {
     width: 580px;
     font-size: 16px;
     line-height: 2.0em;
}
 
.title {
     margin-bottom: 25px;
} 
